# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
resources/Madonna - 2012 Super Bowl Halftime Show (1).mp4
*.mp4